<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/identidadDecoPor3/LogoSinfondo2.png">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kaisei+Decol:wght@400;700&display=swap" rel="stylesheet">
    <title> Deco Por 3 | Diseño de interiores</title>
</head>
<body>
<!--HEADER-->
<header>
    <nav class="logo-nav">
        <div class="logo">
            <a href="../index.html"><img src="../img/identidadDecoPor3/LogoSinfondo2.png" alt="Logo Deco Por 3"></a>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./cursos.html">Cursos</a></li>
            <li><a href="./nosotras.html">Nosotras</a></li>
            <li><a href="./socias.html">Socias</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
<main>

</main>
<footer>

</footer>
    <script src="../assets/main.js"></script>
</body>
</html>