<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/identidadDecoPor3/LogoSinfondo2.png">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kaisei+Decol:wght@400;700&display=swap" rel="stylesheet">
    <title> Deco Por 3 || Diseño de interiores</title>
</head>
<body>
    <!--HEADER-->
    <header>
        <nav class="logo-nav">
            <div class="logo">
                <a href="../index.html"><img src="../img/identidadDecoPor3/LogoSinfondo2.png" alt="Logo Deco Por 3"></a>
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cursos.html">Cursos</a></li>
                <li><a href="./nosotras.html">Nosotras</a></li>
                <li><a href="./socias.html">Socias</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    <main class="main">
        <section class="us">
            <div class="us__info-container">
                <img class="us__info-img us__info-img1-margin" src="https://via.placeholder.com/500" alt="">
                <div class="us__info">
                    <p class="us__info-title">Gladys</p>
                    <p class="us__info-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quaerat doloribus nesciunt, harum iste dolorum architecto soluta a sit error, repellat quasi dolores beatae adipisci. Atque dolor ex, nihil explicabo ab quos velit et voluptatum dignissimos maxime temporibus! Optio excepturi, laborum distinctio cum fuga dolor, quibusdam ratione inventore sed repudiandae itaque nam. Et voluptatum unde quisquam veniam, ratione in delectus libero modi, enim eligendi magni laboriosam perspiciatis dicta vel fuga soluta. Iusto adipisci, fugiat delectus magni in dignissimos suscipit laboriosam hic! Explicabo expedita recusandae vel voluptate ipsam, architecto accusamus deserunt dolor porro placeat incidunt fugiat exercitationem quia accusantium iusto dignissimos.</p>
                </div>
            </div>
            <div class="us__info-container">
                <div class="us__info">
                    <p class="us__info-title">Marina</p>
                    <p class="us__info-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore itaque eos porro quis quaerat aperiam ad amet. Est consectetur nobis consequuntur quisquam repellendus, atque facere, nisi repudiandae sapiente dolorum impedit inventore dignissimos voluptas rerum nesciunt amet maiores totam ipsa ipsam dicta error, sit corrupti? Quisquam voluptatum mollitia maiores consectetur et ipsa magnam iure quia earum iusto optio necessitatibus eveniet deleniti non quo architecto eaque, fugit ducimus doloribus quidem voluptatem accusamus. Incidunt ipsum minus alias quisquam modi illum neque, accusantium enim nisi officiis soluta id beatae ex quia dolorum et possimus quod tempore tempora facere doloremque! Consequatur reprehenderit assumenda aliquam molestias?</p>
                </div>
                <img class="us__info-img us__info-img2-margin" src="https://via.placeholder.com/500" alt="">
            </div>
        </section>
    </main>
    <footer>

    </footer>
    <script src="../assets/main.js"></script>
</body>
</html>