<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/identidadDecoPor3/LogoSinfondo2.png">
    <link rel="stylesheet" href="../assets/style.css">
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kaisei+Decol:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- FOOTER ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--SEO-->
    <meta property="og:type" content="website">
    <meta name="description" content="">
    <meta name="keywords" content="diseño, diseño de interiores, cocina, cuarto, habitacion, oficina, home office, living ,diseño escandinavo, diseño minimalista, diseño industrial, diseño moderno, diseño rustico, diseño de casa, diseño departamento, diseño farmhouse, diseño estilo campo, diseño espacios chicos, iluminación, home staging, dibujo para decoración, low cost, bajo costo, decoración de espacios comerciales, vidrierismo, curso de vidrierista, color, buen gusto, chic">
    <meta property="og:title" content="Deco Por 3 | Diseño de interiores.">
    <meta property="og:image" content=""><!--BUSCAR IMAGEN-->
    <meta property="og:locale" content="es_AR">
    <title> Deco Por 3 | Diseño de interiores</title>
    <title> Deco Por 3 | Diseño de interiores</title>
</head>
<body>
    <!--HEADER-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container-fluid d-lg-flex">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/identidadDecoPor3/LogoOriginalBLANCO.png" width="70px" alt="Logo y Home de DecoPor3">
            </a>
            <form class="d-lg-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </form>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./cursos.html">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./nosotras.html">Nosotras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./socias.html">Socias</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </header> 
    <main>
        <div class="jumbotron">
            <h1 class="display-3">Servicios</h1>
            <p>Creamos espacios para que los vivas y disfrutes</p>
            <a href="#scroll__servicios"><div class='icon-scroll'></div></a>
        </div>
        <div id="scroll__servicios" class="main">
            <p>
                Hace tiempo venís pensando que te gustaría realizar un cambio en tu casa o espacio comercial pero no sabes por dónde empezar o cómo hacerlo? Nosotras te ayudamos con nuestro servicios de asesoria!
            </p> 
            <p>
                Pasos: <br>
                1- Elegi el plan online que mejor se adapte a lo que necesitas<br>
                2- Contactanos para conocernos y así comenzar a crear el espacio que soñas<br>
                3-Visualizar tu diseño y ultimar cambios de ser necesarios<br>
                4- Disfruta y vivi  tu nuevo espacio<br>
            </p>
            <h2>ASESORÍAS ONLINE</h2>
            <p>
                Con las asesorías online podrás resolver el diseño y decoración de tus ambientes sin moverte de tu casa.
            </p>
            <section>
                <section class="values">
                    <div class="value">
                        <img class="value__icon" src="../img/icons/clock.png" alt="Servicio Rápido">
                        <p class="value__p">Rápido</p>
                    </div>
                    <div class="value">
                        <img class="value__icon" src="../img/icons/gear.png" alt="Personalizado">
                        <p class="value__p">Personalizado</p>
                    </div>
                    <div class="value">
                        <img class="value__icon" src="../img/icons/resting.png" alt="Servicio Cómodo">
                        <p class="value__p">Cómodo</p>
                    </div>
            </section>
            <img src="../img/servicios/espejoServicios.jpg" width="40%" alt="Imagen de espejo y plantas">
            <h2> ASESORAMIENTO EXPRESS</h2>
            <p>
                Incluye la elección de paleta de colores y materiales para el espacio, sumado a un
                moodboard con fotos e imágenes de referencia de muebles y elementos de decoración como guía.
                Se entrega material gráfico.
                Valor: $3,000*
                <img src="../img/servicios/cocinaServicios.jpg" width="40%" alt="Imagen de cocina blanca y plantas">
                <h2>ASESORAMIENTO SIMPLE</h2>
                <p>
                    Incluye la elección de paleta de colores y materiales para el espacio sumadoa un moodboard con fotos e imágenes de referencia de muebles y elementos de decoracióncomo guía + plano a color del ambiente con la distribución de muebles y decoración de acuerdo a las medidas del espacio. Además, el detalle de materialidad, terminación y  cocolor  de todo el mobiliario propuesto. 
                    -Se entrega material gráfico.
                    -Valor: $5,000*
                </p>
                <img src="../img/servicios/dormitorioServicios.jpg" width="40%" alt="Imagen de dormitorio">
            </p>
            <h2>ASESORAMIENTO COMPLETO</h2>
            <p>
                Incluye la elección de paleta de colores y materiales para el espacio, sumado a un
                moodboard con fotos e imágenes de referencia de muebles y elementos de
                decoración, como guía. Más plano a color del ambiente, con la distribución de muebles y decoración de acuerdo a las medidas del espacio.
                Detalle de materialidad, terminación y color de todo el mobiliario propuesto, más imágenes en 3D del espacio con la propuesta de diseño, materiales, muebles y elementos de
                decoración aplicados al ambiente.
                Sirve para visualizar cómo quedaría terminado el proyecto, en el espacio
                real, con todos los elementos existentes. 
                Valor: $8,000*
            </p>
            <img src="../img/servicios/banioServicios.jpg" width="40%" alt="Imagen de baño">
            <p>
                *El valor de los servicios de asesoramiento ONLINE, son por ambiente. <br>
                -Si los ambientes son integrados (living comedor) hacemos un precio especial por ambos hasta 35 m2. <br>
                -Las asesorías son servicios 100% online a través de videoconferencias<br>
                -Forma de pago: 100% anticipado para reservar fecha de inicio.<br>
                -Se abona mediante transferencia bancaria o depósito o pago fácil. <br>
                -También con todas las tarjetas (mercadopago).<br>
                -Tiempo de entrega: Alrededor de 15 días hábiles por ambiente (desde la fecha de inicio pautada).<br>
            </p>
            <p>¡Nosotras nos adecuamos a tus ideas, necesidades y presupuesto! </p>
            <section>
                <section class="values">
                <div class="value">
                    <img class="value__icon" src="../img/icons/shop.png" alt="Trabajamos con espacios comerciales">
                    <p class="value__p">Espacios Comerciales</p>
                    <p>Trabajamos todo tipo de espacio comercial</p>
                </div>
                <div class="value">
                    <img class="value__icon" src="../img/icons/house.png" alt="Trabajamos con espacios Residenciales">
                    <p class="value__p">Residenciales</p>
                    <p>Animate a enamorarte de tus espacios.</p>
                </div>
                </section>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-6">
                    <h4>Conocenos</h4>
                    <ul>
                        <li><a href="./nosotras.html">Nosotras</a></li>
                        <li><a href="./socias.html">Socias</a></li>
                        <li><a href="mailto:decopor3@gmail.com">Contacto</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col col-md-6">
                    <h4>Hablemos!</h4>
                    <div class="social-links">
                        <a href="https://www.instagram.com/decopor3" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/DecoPor3" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=5493515104017" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="mailto:decopor3@gmail.com" target="_blank"><i class="fas fa-envelope-open"></i></a>
                    </div>
                    <p>Copyright © 2021 Deco Por 3</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../assets/main.js"></script>
</body>
</html