<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/identidadDecoPor3/LogoSinfondo2.png">
    <link rel="stylesheet" href="../assets/style.css">
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kaisei+Decol:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- FOOTER ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--SEO-->
    <meta property="og:type" content="website">
    <meta name="description" content="">
    <meta name="keywords" content="diseño, diseño de interiores, cocina, cuarto, habitacion, oficina, home office, living ,diseño escandinavo, diseño minimalista, diseño industrial, diseño moderno, diseño rustico, diseño de casa, diseño departamento, diseño farmhouse, diseño estilo campo, diseño espacios chicos, iluminación, home staging, dibujo para decoración, low cost, bajo costo, decoración de espacios comerciales, vidrierismo, curso de vidrierista, color, buen gusto, chic">
    <meta property="og:title" content="Deco Por 3 | Diseño de interiores.">
    <meta property="og:image" content=""><!--BUSCAR IMAGEN-->
    <meta property="og:locale" content="es_AR">
    <title> Deco Por 3 | Diseño de interiores</title>
    <title> Deco Por 3 | Diseño de interiores</title>
</head>
<body>
<!--HEADER-->
<header>
    <nav class="logo-nav">
        <div class="logo">
            <a href="../index.html"><img src="../img/identidadDecoPor3/LogoSinfondo2.png" alt="Logo Deco Por 3"></a>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./cursos.html">Cursos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="./nosotras.html">Nosotras</a></li>
            <li><a href="./socias.html">Socias</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
<main>
    <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            
            <img src="https://st3.depositphotos.com/1825794/15301/i/1600/depositphotos_153012216-stock-photo-kitchen-marble-bench-close-up.jpg" alt="">
        </div>
        <div class="blog-slider__content">
            <div class="blog-slider__title">Curso de Diseño interior y decoración</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
            <a href="#" class="blog-slider__button">Ver más</a>
        </div>
        </div>
    </div>
    <div class="blog-slider__pagination"></div>
    </div>
</main>
<footer>

</footer>
    <script src="../assets/main.js"></script>
</body>
</html