<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/identidadDecoPor3/LogoSinfondo2.png">
    <link rel="stylesheet" href="../assets/style.css">
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kaisei+Decol:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- FOOTER ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--SEO-->
    <meta property="og:type" content="website">
    <meta name="description" content="">
    <meta name="keywords" content="diseño, diseño de interiores, cocina, cuarto, habitacion, oficina, home office, living ,diseño escandinavo, diseño minimalista, diseño industrial, diseño moderno, diseño rustico, diseño de casa, diseño departamento, diseño farmhouse, diseño estilo campo, diseño espacios chicos, iluminación, home staging, dibujo para decoración, low cost, bajo costo, decoración de espacios comerciales, vidrierismo, curso de vidrierista, color, buen gusto, chic">
    <meta property="og:title" content="Deco Por 3 | Diseño de interiores.">
    <meta property="og:image" content=""><!--BUSCAR IMAGEN-->
    <meta property="og:locale" content="es_AR">
    <title> Deco Por 3 | Diseño de interiores</title>
    <title> Deco Por 3 | Diseño de interiores</title>
</head>
<body>
<!--HEADER-->
<header>
    <nav class="logo-nav">
        <div class="logo">
            <a href="../index.html"><img src="../img/identidadDecoPor3/LogoSinfondo2.png" alt="Logo Deco Por 3"></a>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./cursos.html">Cursos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="./nosotras.html">Nosotras</a></li>
            <li><a href="./socias.html">Socias</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
<main>
    
</main>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Conocenos</h4>
                <ul>
                    <li><a href="./nosotras.html">Nosotras</a></li>
                    <li><a href="./socias.html">Socias</a></li>
                    <li><a href="mailto:decopor3@gmail.com">Contacto</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Hablemos!</h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/decopor3" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/DecoPor3" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=5493515104017" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="mailto:decopor3@gmail.com" target="_blank"><i class="fas fa-envelope-open"></i></a>
                </div>
                <p>Copyright © 2021 Deco Por 3</p>
            </div>
        </div>
    </div>
</footer>
    <script src="../assets/main.js"></script>
</body>
</html