<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/identidadDecoPor3/LogoSinfondo2.png">
    <link rel="stylesheet" href="../assets/style.css">
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kaisei+Decol:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- FOOTER ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--SEO-->
    <meta property="og:type" content="website">
    <meta name="description" content="">
    <meta name="keywords" content="diseño, diseño de interiores, cocina, cuarto, habitacion, oficina, home office, living ,diseño escandinavo, diseño minimalista, diseño industrial, diseño moderno, diseño rustico, diseño de casa, diseño departamento, diseño farmhouse, diseño estilo campo, diseño espacios chicos, iluminación, home staging, dibujo para decoración, low cost, bajo costo, decoración de espacios comerciales, vidrierismo, curso de vidrierista, color, buen gusto, chic">
    <meta property="og:title" content="Deco Por 3 | Diseño de interiores.">
    <meta property="og:image" content=""><!--BUSCAR IMAGEN-->
    <meta property="og:locale" content="es_AR">
    <title> Deco Por 3 | Diseño de interiores</title>
</head>
<body>
    <!--HEADER-->
<header>
    <nav class="logo-nav">
        <div class="logo">
            <a href="index.html"><img src="../img/identidadDecoPor3/LogoSinfondo2.png" alt="Logo Deco Por 3"></a>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./cursos.html">Cursos</a></li>
            <li><a href="./servicios.html">Servicios</a></li>
            <li><a href="./nosotras.html">Nosotras</a></li>
            <li><a href="#">Socias</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
<main class="main">
    <section class="us">
        <div class="us__info-container">
            <img class="us__info-img us__info-img1-margin" src="https://via.placeholder.com/500" alt="">
            <div class="us__info">
                <p class="us__info-title">Morgan Deco</p>
                <p class="us__info-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quaerat doloribus nesciunt, harum iste dolorum architecto soluta a sit error, repellat quasi dolores beatae adipisci. Atque dolor ex, nihil explicabo ab quos velit et voluptatum dignissimos maxime temporibus! Optio excepturi, laborum distinctio cum fuga dolor, quibusdam ratione inventore sed repudiandae itaque nam. Et voluptatum unde quisquam veniam, ratione in delectus libero modi, enim eligendi magni laboriosam perspiciatis dicta vel fuga soluta. Iusto adipisci, fugiat delectus magni in dignissimos suscipit laboriosam hic! Explicabo expedita recusandae vel voluptate ipsam, architecto accusamus deserunt dolor porro placeat incidunt fugiat exercitationem quia accusantium iusto dignissimos.</p>
            </div>
        </div>
        <div class="us__info-container">
            <div class="us__info">
                <p class="us__info-title">Emprende Deco</p>
                <p class="us__info-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore itaque eos porro quis quaerat aperiam ad amet. Est consectetur nobis consequuntur quisquam repellendus, atque facere, nisi repudiandae sapiente dolorum impedit inventore dignissimos voluptas rerum nesciunt amet maiores totam ipsa ipsam dicta error, sit corrupti? Quisquam voluptatum mollitia maiores consectetur et ipsa magnam iure quia earum iusto optio necessitatibus eveniet deleniti non quo architecto eaque, fugit ducimus doloribus quidem voluptatem accusamus. Incidunt ipsum minus alias quisquam modi illum neque, accusantium enim nisi officiis soluta id beatae ex quia dolorum et possimus quod tempore tempora facere doloremque! Consequatur reprehenderit assumenda aliquam molestias?</p>
            </div>
            <img class="us__info-img us__info-img2-margin" src="https://via.placeholder.com/500" alt="">
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Conocenos</h4>
                <ul>
                    <li><a href="./views/nosotras.html">Nosotras</a></li>
                    <li><a href="./views/socias.html">Socias</a></li>
                    <li><a href="mailto:decopor3@gmail.com">Contacto</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Hablemos!</h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/decopor3" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/DecoPor3" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=5493515104017" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="mailto:decopor3@gmail.com" target="_blank"><i class="fas fa-envelope-open"></i></a>
                </div>
                <p>Copyright © 2021 Deco Por 3</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>