/*
font-family: 'Playfair Display', serif;
font-family: 'Kaisei Decol', serif;
*/
:root {
    --main-padding: 20px 5vw;
    /*colores*/
    --green-100: #B6B99A;  /*Mas claro*/
    --green-200: #B6b478 ;
    --green-300: #89984d;
    --green-300: #475E4C; /*Mas oscuro*/
    --light-blue: #A6bdb2;
    --terracotta-100: #D2C3BE;/*Mas claro*/
    --terracotta-200: #D3A687;
    --terracotta-300: #B19685;
    --terracotta-400:#dc9b7b;
    --terracotta-500: #Ab6532;/*Mas oscuro*/
    --yellow-100: #D9AD28;
    --yellow-200: #B4a65f;  
    /*fonts*/
    --title-font:'Playfair Display', serif;
    --text-font:'Kaisei Decol', serif;
    /*fonts-pc (desktop & notebook)*/
    --title-desktop-size: 60px;
    --subtitle-desktop-size: 30px;
    --text-desktop-size: 17px;
    /*fonts-tablet*/
    --title-tablet-size: 40px;
    --subtitle-tablet-size: 25px;
    --text-tablet-size: 15px;
    /*fonts-mobile*/
    --title-mobile-size: 35px;
    --subtitle-mobile-size: 20px;
    --text-mobile-size: 13px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*-----MENU-----*/

.navbar{
    font-family:var(--text-font);
    font-size: 21px;
    margin-right: 2%;
    letter-spacing: 2.5px;
}

.navbar-light .navbar-toggler{
  color: transparent!important;
  border-color: transparent!important;
}

.main {
  padding: var(--main-padding);
}

/*-----SPLASH-----*/
.splash{
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
}

.splash__text-container{
    width: 40vw;
    /* background-color: pink; */
}

.splash__img-container{
    width: 60vw;
    /* background-color: #475E4C; */
}

.splash__text-container--inner{
    width: 60%;
    text-align: center;
}

.splash__text{
    text-align: left;
}

.main-text{
    font-family: 'Playfair Display', serif;
    font-size:var(--title-desktop-size);
    line-height: 1em;
    margin-left: 0;
}
.index__button{
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 75px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 20px;
  font-family:var(--title-font);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color:var(--green-200);
  cursor: pointer;
  outline: none;
}
.index__button :hover {
  background-color: var(--yellow-200);
}
/* .img-round{
width: 400px;
height: 400px;
border-radius: 300px;
margin-right: 10%;

}
.img-square{
  width: 463.62px;
  height: 618.68px;
  left: 587.4px;
  top: 191px;
  border-radius: 42px;
}
.img-oval{
width: 442px;
height: 642px;
border-radius: 221px;
} */
.values{
    padding-top: 10vw;
    display: flex;
    justify-content: space-between;
}

.value{
    background-color:var(--green-100);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 1.7vw;
    text-align: center;

}

.value__icon{
    width: 6vw;
    height: 6vw;
    margin-top: -35%;
}

.value__p{
  font-family: var(--text-font);
  font-size:var(--text-tablet-size);
  font-weight: bolder;
  margin-top: -40%;
}
.value_P{
  font-family: var(--text-font);
  font-size: var(--text-mobile-size);
}

.carousel__container{
    padding-top: 10vw;
}

.carousel{
    background-color: #e2dddd;
    height: 25vh;
}

.carousel-inner{
    width: 70%!important;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-control-prev-icon{
  background-image: url('../img/icons/left-arrow.png')!important;
}

.carousel-control-next-icon{
  background-image: url('../img/icons/right-arrow\ 2.png')!important;
}

/***NOSOTRAS***/

.us__info-container{
    display: flex;
    justify-content: space-evenly;
}

.us__info-img1-margin{
    margin: 0 20vw 10vh 0;
}

.us__info-img2-margin{
    margin: 0 0 10vh 20vh;
}

.us__info{
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.us__info-title{
    font-size: 50px;
    margin-bottom: 10vw;
}

/*-----SOCIAS-----*/

.socias__title{
  font-family: var(--title-font);
  font-size: var(--title-desktop-size);
  margin-left: 45%;
}

.socias__subtitle{
  font-family: var(--title-font);
  font-size:var(--subtitle-desktop-size);
  margin-left: 5%;
}

.socias div{
  margin: 5vw 0;
  }
  
  .socias__img-socia{
    height: 36vw;
    margin-top: -5%;
  }
  .socias__info{
    padding: 0 5vw;
    line-height: 23pt;
    text-align:justify;
  }
  .socias__igram{
    font-family: var(--text-font);
    font-size: var(--subtitle-mobile-size);
  }
  .socias__igram img{
    margin: 1vw;
  }
  
  .instagram-media{
    margin: 12px!important;
  }

  .socias__info-title{
    font-size:var(--title-desktop-size);
    font-family: var(--title-font);
    margin-bottom: 4vw;
    margin-top: 9%;
  }
  .socias__info-details{
    font-family:var(--text-font);
    font-size: var(--text-desktop-size);
    max-width: 50%;
    line-height: 25pt;
    margin-bottom: 20%;
    text-align: justify;
  }
  .socias__info-details-2{
    font-family:var(--text-font);
    font-size: var(--text-desktop-size);
    max-width: 50%;
    line-height: 25pt;
    margin-bottom: 20%;
  }  
  .us__info-img2-margin-socias{
    margin: 0 0 10vh 20vh;
    width: 500px;
    height: 681px;
  }
  .socias__sub-morgan{
    font-family: var(--title-font);
    font-size: var(--subtitle-desktop-size);
    margin-top: -41%;
    margin-left: 18%;
  }
  .socias__sub-emprende{
    font-family: var(--title-font);
    font-size: var(--subtitle-desktop-size);
    margin-top: -15%;
    margin-left: 18%;
  }
/*-----@MEDIA-----*/
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:7vh;
        background-color: #475E4C ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a {
        color: #B6B99A ;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
    .values{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .value{
        margin: 20px;
        width: 30vw;
        height: 30vw;
        justify-content: space-evenly;
    }
    .us__info-container{
        flex-direction: column;
    }
    .us__info-img2-margin{
        margin: 0 20vw 10vh 0;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle.line1{
    transform: rotate(-45deg) translate (-5px,6px);
}
.toggle.line2{
    opacity: 0;
}
.toggle.line3{
    transform: rotate(45deg) translate (-5px,6px);
}
/*-----FOOTER-----*/
.container{
	max-width: 70%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 0.5% 0;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
  margin-top: 5%;
	font-weight: 500;
	position: relative;
  font-family: var(--text-font);
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--terracotta-500);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #e2dddd;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer p {
    color:var(--terracotta-200);
    margin-top: 10%;
    margin-left: 60%;
    font-weight: 700;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*-----CURSOS-----*/


@media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__button {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 5px;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
    }
  }
  /*-----SERVICIOS-----*/
  .main__servicios{
    padding: 25px 8vw
  }
  .main__servicios p{
    line-height: 32px;
    margin-top: -11.5px;
  }
  .main__servicios img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
  }
  .jumbotron{
    margin-bottom: 0;
    background-image: url(../img/servicios/livingServicios.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 90vh;
    min-height: 400px;
    color: black;
    padding: 10rem;
    text-align: center;
  }
  .jumbotron h1 {
    font-family:var(--title-font);
    font-size: 150px;
    margin-top: 9.6rem;
  }
  
  .jumbotron p {
    font-family:var(--title-font);
    font-size: var(--subtitle-tablet-size);
    padding-bottom: 3rem;
    margin-top: -2.5rem;
  }
  .above-scroll{
    font-family:var(--title-font);
    font-size: var(--text-tablet-size);
  }
  .icon-scroll,
  .icon-scroll:before {
    position: absolute;
    left: 50.8%;
  }
  
  .icon-scroll
  {
      width: 40px;
      height: 70px;
      margin-left: -20px;
      top: 90%;
      margin-top: -35px;
      box-shadow: inset 0 0 0 2.5px black;
      border-radius: 25px;
  }
  .icon-scroll:before{
      content: '';
      width: 8px;
      height: 8px;
      background: black;
      margin-left: -4px;
      top: 8px;
      border-radius: 4px;
      animation-duration: 1.8s;
      animation-iteration-count: infinite;
      animation-name: scroll;
  }
  @keyframes scroll {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
          transform: translateY(46px);
      }
  }

.container__servicios{
  padding: var(--main-padding);
  font-family: var(--text-font);
  font-size: var(--text-desktop-size);
  margin-top: 3%;
}
.container__servicios h4{
  font-family: var(--title-font);
  font-size: var(--subtitle-desktop-size);
  color: var(--green-200);
  font-weight: bolder;
}
.container__servicios span{
  color: var(--green-300);
}
.values__servicios{
  padding: 30px 4.5vw;
  padding-top: 2vw;
  display: flex;
  justify-content: space-around;
}
.value_service{
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.value-service__icon{
  width: 5vw;
  height: 5vw;
  margin-top: 35%;
}

.value-service__p{
font-family: var(--text-font);
font-size:var(--text-tablet-size);
font-weight:bold;
margin-top: -50%;
}
.value-service__p-fast{
  font-family: var(--text-font);
  font-size:var(--text-tablet-size);
  font-weight:bold;
  margin-left: 10%;
  margin-bottom: -50%;
}
.servicios__img{
  width: 600px;
  height:450px ;
  object-fit: cover;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
}
.service__sub{
  font-family: var(--title-font);
  font-size: var(--title-tablet-size);
  font-weight: bolder;
  margin-left: 35.5%;
  margin-top: 4%;
  
}
#left_img{
  margin-left: 50%;
}
/*----- MODAL -----*/

.modal-dialog{
  max-width: 100vw!important;
  display: flex;
  justify-content: center;
}
.modal-content{
  width: 70vw!important;
  height: 120vh;
}
.modal-body{
  padding: 1rem 0.8rem 1rem 1rem!important;
}
.modal-body, .row{
  height: 100%;
}
.pad-r{
  padding-right: 0!important;
}
.full-width{
  width: 100%;
}
.row, .more-info{
  height: 100%;
}
.basic-info, .more-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}
.basic-info{
  background-color: var(--terracotta-500);
  padding: 12% 8%;
  height: 96%;
}
.col-7, .col-5{
  height: 100%;
}
/* .more-info{
  padding-top: 9%;
} */
.footer-info{
  width: 100%;
}
.img-modal{
  width: 24vw;
  height: 24vw;
  object-fit: cover;
  border-radius: 50%;
}
.course-title{
  font-size: 3vw!important;
}
.h6{
  font-size: 16px;
}
.h3{
  padding: 0.5rem 1.5rem;
  font-size: 1.5vw!important;
  background-color: var(--terracotta-500);
}
.p{
  font-size: 0.9vw;
}
.diff-height{
  height: 3.5%;
  margin-bottom: 0!important;
  padding-bottom: 0;
  padding-top: 0.6rem;
  background-color: var(--terracotta-300);
  text-align: center;
}
.no-pad{
  padding: 0;
}
.ul{
  padding: 0;
}
.pad-left{
  padding-left: 1vw;
}
.details{
  padding: 1rem 1.5rem;
}
.w-100{
  width: 100%;
}
.height-adjust{
  height: 3.5%;
}

@media screen and (max-width: 768px){
  .modal-content {
    width: 100vw !important;
    height: 140vh;
  }
  .details{
    padding: 0 3px;
  }
  .course-title {
    font-size: 4.3vw!important;
  }
  .h6 {
    font-size: 2.8vw!important;
  }
  .h3 {
    padding: 0.5rem 1rem;
    font-size: 3.6vw!important;
  }
  .p {
    font-size: 3vw;
  }
  .no-pad{
    padding: 0;
  }
  .no-mb{
    margin-bottom: 0;
  }
}
/*cards*/
.wrapper {
  display: flex;
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 10px 24px 42px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 24px 42px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 24px 42px 10px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height:420px;
  width: 327px;
}

.product-img img {
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h2 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 30px;
  margin-bottom: 5%;
  color: #474747;
}

.product-text h2,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h3 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: var(--text-font);
  font-weight: 400;
  text-transform: uppercase;
  color: #b6b4b4;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 115px;
  margin: 0 0 0 38px;
  font-family:var(--text-font);
  color: #696969;
  line-height: 1.7em;
  font-size: var(--text-mobile-size);
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}
.product-price-btn button {
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 75px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 20px;
  font-family:var(--title-font);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color:var(--green-200);
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: var(--yellow-200);
}