/*
font-family: 'Grand Hotel', cursive;
font-family: 'Kaisei Decol', serif;
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*-----MENU-----*/
nav{
    display: flex;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: transparent ;
    font-family: 'Louis George Café';
    font-size: 1.1em;
    @font-face {
        font-family: 'Louis George Café';
        src: url(https://www.dafont.com/louis-george-caf.font?psize=xs);
    }
}
.logo img{
    width: 8%;
    margin-left: 20px;
    margin-top: 10px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
}
.nav-links li {
    list-style: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3.2px;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
    font-weight:normal;
}
.nav-links a:hover{
    color: #D3A687;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: black;
}

.main {
    padding: 20px 3vw;
}

/*-----SPLASH-----*/
.splash{
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
}

.splash__text-container{
    width: 40vw;
    background-color: pink;
}

.splash__img-container{
    width: 60vw;
    background-color: #475E4C;
}

.splash__text-container--inner{
    width: 60%;
    text-align: center;
}

.splash__text{
    text-align: left;
}

.values{
    display: flex;
    justify-content: space-between;
}

.value{
    background-color: #475E4C;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 1.7vw;
    text-align: center;

}

.value__icon{
    width: 10vw;
    height: 10vw;
}

/*-----@MEDIA-----*/
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:7vh;
        background-color: #475E4C ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a {
        color: #B6B99A ;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle.line1{
    transform: rotate(-45deg) translate (-5px,6px);
}
.toggle.line2{
    opacity: 0;
}
.toggle.line3{
    transform: rotate(45deg) translate (-5px,6px);
}
/*-----FOOTER-----*/
.container{
	max-width: 70%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 40px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    font-family: 'Kaisei Decol', serif;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #475E4C;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #e2dddd;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer p {
    color: #475E4C;
    margin-top: 20%;
    font-weight: 700;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
